<%include partials/header.ejs %>


<div class="container">
	<h1><%= sentUser.username %></h1><br><br>

		<div>
			<b> User Username: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= sentUser.username %> </b><br>
			<b>User Full Name: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= sentUser.Full_Name %> </b><br>
			<b>User Id: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </b><%= sentUser._id %> <br>
			<b>User Email Id: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </b><%= sentUser.Email_Id %> <br>
			<b>User Shop Name: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </b><%= sentUser.Shop_Name %> <br>
			<b>User Business Name: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</b><%= sentUser.Business_Name %> <br>
			<b>User Address Line 1: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </b><%= sentUser.Address_Line_1 %> <br>
			<b>User Address Line 2: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </b><%= sentUser.Address_Line_2 %> <br>
			<b>User City: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</b><%= sentUser.City %> <br>
			<b>User Pin Code: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </b><%= sentUser.Pin_Code %> <br>
			<b>User Type: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </b><%= sentUser.User_Type %> <br>
			<b>User Rider Availability: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</b><%= sentUser.Rider_Availability %> <br>
			<b>User Business Experience: &nbsp &nbsp </b><%= sentUser.Business_Experience %> <br>

			<br>

			<!-- <%= sentUser.Product_Category %> <br><br>
 -->
			
			<a href="/profile/<%= sentUser._id %>/edit"><button type="button" class="btn btn-success btn-sm">Edit</button></a>
			<a href="/vendor_items"><button class="btn btn-primary btn-sm">Show Added Items</button></a>
		
<!-- 			<form action="/profile/<%= sentUser._id %>?_method=DELETE" method="POST" style = "display: inline">
				<button class="btn btn-danger btn-sm">Delete</button>
			</form>
 -->			
			<hr>
		</div>
</div>


<%include partials/footer.ejs %>