<% include partials/header.ejs %>

<script>
    
   function validateProfile(){
      var x = document.forms["profile"]["username"].value;
      var y = document.forms["profile"]["full_name"].value;
      var z = document.forms["profile"]["email_id"].value;
      var a = document.forms["profile"]["shop_name"].value;
      var b = document.forms["profile"]["business_name"].value;
      var c = document.forms["profile"]["address_1"].value;
      var d = document.forms["profile"]["address_2"].value;
      var e = document.forms["profile"]["city"].value;
      var f = document.forms["profile"]["pin_code"].value;

      var i;
      var flag = 0;
     

      if (x == ""){
          alert("Username can't be blank");
          return false;
      }

      if ((y.length<"6")||(y.length>"30")){
          alert("Full Name must be between 6-30 characters");
          return false;
      }

      if (z == ""){
      	alert("Email Id can't be blank");
        return false;
      }

      if (z[0] == "@"){
      	alert("Worng Email Id Format");
        return false;
      }
/*
      for(i=1;i<z.length;z++){
      		if (z[i] == "@"){
      			flag=1;          		
      		}
      }

      if (flag=="0"){
      		alert("Worng Email Id Format");
          	return false;	
      }
      
*/

      if (a == ""){
          alert("Shop Name can't be blank");
          return false;
      }


      if (b == ""){
          alert("Business Name can't be blank");
          return false;
      }


      if (c == ""){
          alert("Address 1 can't be blank");
          return false;
      }


      if (d == ""){
          alert("Address 2 can't be blank");
          return false;
      }


      if (e == ""){
          alert("City can't be blank");
          return false;
      }


      if (f == ""){
          alert("Pin Code can't be blank");
          return false;
      }

  }

</script>


<h1>Sign Up</h1>

<form name="profile" action="/profile/<%= sentUserForUpdate._id %>?_method=PUT" method="POST" onsubmit="return validateProfile()">
	
	<div id="div2">
		Userame: <input id="input" type="text" name="username" placeholder="Username" value = "<%= sentUserForUpdate.username %>" >
	</div>

	<hr>

	<div id="div2">
		Full Name: <input id="input" type="text" name="full_name" placeholder="Full Name = First Name + Last Name" value = "<%= sentUserForUpdate.Full_Name%>" >
	</div>

	<div id="div2">
		Email Id: <input id="input" type="text" name="email_id" placeholder="Email Id" value = "<%= sentUserForUpdate.Email_Id %>" > 
	</div>

	<div id="div2">
		Shop Name: <input id="input" type="text" name="shop_name" placeholder="Shop Name" value = "<%= sentUserForUpdate.Shop_Name %>" >
	</div>
		
	<div id="div2">
		Business Name: <input id="input" type="text" name="business_name" placeholder="Business Name Of Your Shop/Company" value = "<%= sentUserForUpdate.Business_Name %>" >
	</div>

	<div id="div2">
		Address: Line 1: <input id="input" type="text" name="address_1" placeholder="Your Shop Address Line 1" value = "<%= sentUserForUpdate.Address_Line_1 %>" >
	</div>

	<div id="div2">
		Address: Line 2: <input id="input" type="text" name="address_2" placeholder="Your Shop Address Line 2" value = "<%= sentUserForUpdate.Address_Line_2 %>" >
	</div>


	<div id="div2">
		City: <input id="input" type="text" name="city" placeholder="City Name" value = "<%= sentUserForUpdate.City %>" >
	</div>

	<div id="div2">
		Pin Code: <input id="input" type="number" name="pin_code" placeholder="Pin Code" value = "<%= sentUserForUpdate.Pin_Code %>">
	</div>

	<hr>

	
	<div id="div2">

		<b>User Type</b>

		<select name="user_type">
			<option>Manager</option>
			<option>Operational</option>
			<option>Vendor</option>
		</select>

	</div>


	<div id="div2">

		<!-- definition of categories is left -->
		
		<b><i>Select the category of the products you deal in: </i><br>
		Product Category:<br></b>

		<input type="checkbox" name="product_category">Sensor </input><br>
		<input type="checkbox" name="product_category">ICs</input><br>
		<input type="checkbox" name="product_category">Panel</input><br>
		<input type="checkbox" name="product_category">Metal Channels</input><br>
		<input type="checkbox" name="product_category">Metal Accessories</input><br>
		<input type="checkbox" name="product_category">Others</input><br>
		
	</div>

	<div id="div2">

		<b>Rider Availability:<br></b>
		
		<select name="rider_availability">
			<option>Yes</option>
			<option>No</option>
		</select>
	
	</div>

	<div id="div2">
	
		<b>Business Experience:<br></b>
		
		<select name ="business_experience"> 
			<option>Less than 1 year</option>
			<option>1-5 years</option>
			<option>5-10 years</option>
			<option>10-15 years</option>
			<option>15-20 years</option>
			<option>20-30 years</option>
			<option>30-50 years</option>
			<option>More than 50 years</option>	
		</select>

	</div>

	<hr>

	<div id="div2">
		<input id="input" type="submit" value="Submit">
	</div>

</form>

<% include partials/footer.ejs %>